<app-navbar></app-navbar>
<div class= "homeconainer">
<mat-grid-list  cols="60" rowHeight="400px">
        <mat-grid-tile [colspan]="60" >
                <a href="#">
            <div style="margin: 1%">
                <img src ="../../../assets/image/logo.png" style="width:400px; z-index:2; position: absolute; margin-top: 1%; margin-left: 50%">
                <img src="../../../assets/image/wood.png" style=" height: 200px; width:1000px;  margin-top: 1%; margin-left: 10% ;z-index: 1;"/>
                <hr style="position: absolute;width:65%; height:6px; background-color: #333; z-index:-1; margin-top: -210px;" />
    <hr />
</div>
</a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="20" >
                <a class="booklistsize" href="#">
                    <img src="../../../assets/image/bestseller.png" style="width:450px;"/>
                </a>  
        </mat-grid-tile>
        <mat-grid-tile [colspan]="20">
                <a class="booklistsize" href="#">
                        <img src="../../../assets/image/hours.png" style="width:450px;"/>
                    </a>  
        </mat-grid-tile>
        <mat-grid-tile [colspan]="20">
                <a class="booklistsize" href="#">
                        <img src="../../../assets/image/faq.png" style="width:450px;"/>
                    </a>  
        </mat-grid-tile>
      </mat-grid-list>
    </div>
<br>
<br>
<br>
<br>
    <app-footbar></app-footbar>
      <!--
          routerLink="/bookList"
      -->